{
  "parser": "babel-eslint",
  "extends": ["airbnb/base"],
  "plugins": ["jest", "flowtype"],
  "rules": {
    "semi": "off",
    "no-mixed-operators": "off",
    "comma-dangle": "off"
  },
  "env": {
    "jest/globals": true
  }
}
